<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <style>
        h1 {
            text-shadow: 0 3px 0 #fff,
            0 2px 0 #c9c9c9,
            0 3px 0 #bbb,
            0 4px 0 #b9b9b9,
            0 5px 0 #aaa,
            0 6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 1px 3px rgba(0,0,0,.3),
            0 3px 5px rgba(0,0,0,.2),
            0 5px 10px rgba(0,0,0,.25),
            0 10px 10px rgba(0,0,0,.2),
            0 20px 20px rgba(0,0,0,.15);
        }
    </style>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/accHome">Ceylon Bank</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/accHome">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/deposit">Deposit</a>
                <a class="nav-item nav-link" href="/transactionHistory">History</a>
                <a class="nav-item nav-link" href="/userDetails">User Details</a>
            </div>
        </div>
        <form th:action="@{/logout}" method="post" class="form-inline">
            <input type="submit" value="Log Out" class="btn btn-dark"/>
        </form>
    </nav>
</div>
<div  class="container-fluid " style="padding-top:50px">
    <h1 class="text-center" style="padding-bottom:30px">Ceylon Bank</h1>

    <div class="container card  shadow-lg" style="padding-top:30px">
        <div class=" row">
            <div class="col-md-4 align-self-center">
                <center>
                    <img class="d-block" src="../static/img/profile_pic.png" th:src="@{img/profile_pic.png}" alt="Prfile Picture" style="width:90%"/>
                    <div class="badge badge-success" >
                        Profile Picture
                    </div>
                </center>
            </div>
            <div class="col-md-8">
                <h2 style="padding-bottom:30px">Customer Profile</h2>
                <form th:action="@{/userDetails/update}" method="post"
                      enctype="multipart/form-data"
                      th:object="${customerDetails}">
                    <div th:if="${message != null}" class="alert alert-success text-center">
                        [[${message}]]
                    </div>
                    <div class="row">
                        <div class="col-md-4"><b>Full Name: </b></div>
                        <div class="col-md-8"> <p><span sec:authentication="principal.fullname"></span></p></div>

                    </div>
                    <div class="row">
                        <div class="col-md-4"><b>Account Number: </b></div>
                        <div class="col-md-8"> <p><span sec:authentication="principal.accNumber"></span></p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><b>Branch: </b></div>
                        <div class="col-md-8"> <p><span sec:authentication="principal.branch"></span></p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><b>Phone Number: </b></div>
                        <div class="col-md-8"> <p><span sec:authentication="principal.phoneNumber"></span></p></div>
                    </div>
                    <div class="text-center" >
                        <h5 class="bg-light">Edit Profile</h5>
                    </div>
                    <div class="row container">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label class="col-form-label">First Name</label>
                                </div>
                                <div class="col-md-8">
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="InputFirstName"
                                            placeholder="Enter your First name..."
                                            th:field="*{firstName}"
                                            minlength="2"
                                            maxlength="20"
                                            required
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label class="col-form-label">Last Name</label>
                                </div>
                                <div class="col-md-8">
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="InputLastName"
                                            placeholder="Enter your Last name..."
                                            th:field="*{lastName}"
                                            required
                                            minlength="2"
                                            maxlength="20"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label fclass="col-form-label">Mobile No</label>
                            </div>
                            <div class="col-md-8">
                                <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Mobile Number..."
                                        th:field="*{phoneNumber}"
                                        minlength="10"
                                        maxlength="10"
                                />
                            </div>
                        </div>
                    </div>
                        <div class="col-md-6">
                            <div class="col-md-6 offset-md-8" style="padding: 30px">
                                <a th:href="@{/editUser}"> <button type="submit" class="btn btn-primary">Save</button></a>
                            </div>
                        </div>
                    </div>
                </form>
        </div>
    </div>
</div>
</body>
</html>