<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div  class="container-fluid text-center">
    <h1>Ceylon Bank</h1>
    <p>Welcome to Online Banking</p>
    <a class="'h2" th:href="@{/newAccount}">Create New Account</a>
    <a class="'h2" th:href="@{/login}">Login</a>
    <h1>This is the Landing page</h1>
</div>
</body>
</html>